.yellowBackground {
	background-color: #00b47c;
}

.capa {
	display: inline-block;
	width: 100%;
	height: auto;
}

.tituloCentralizado {
	top: 50%;
	left: 50%;
	font-family: "robotocondensed", sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
	color: #8e8b8b;
}

.tituloCentralizado2 {
	line-height: 1em;
	color: #660033;
	font-family: "robotocondensed", sans-serif;
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
}



.tituloCentralizado3 {
	line-height: 28px;
	color: #660033;
	font-family: "robotocondensed", sans-serif;
	font-size: 25px;
    font-weight: 1000;
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;

}


.display {
	display: inline-block;
}

.autoAdjustBackground {
	background-image: url("./img/camadaN01.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	z-index: -2;
	padding-top: 56.25%; /* (img-height / img-width * width) */
	/* (853 / 1280 * 100) */
}

.logoCentral {
	width: 15%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.arcoCentral {
	width: 50%;
	position: absolute;
	left: 50%;
	bottom: 30%;
	transform: translate(-50%, -50%);
}

.logoCentral2 {
	width: 5%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.arcoCentral2 {
	width: 40%;
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
}

.autores {
	line-height: 1.2em;
	color: #8e8b8b;
	font-size: 20px;
	position: absolute;
	text-transform: uppercase;
	left: 50%;
	bottom: 20%;
	font-weight: normal;
	text-align: center;

	transform: translate(-50%, -50%);
}
.autoAdjustBackground2 {
	background-image: url("./img/capaFundo-04.png");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -2;
	width: 50%;
	text-align: center;
	height: 50vw;
}

.camada01 {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.camada02 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.inline {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.capaSol {
	background-image: url("./img/camadaN01.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -2;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2000px;
}

.fullPage {
	min-height: 100%;
	height: 500px;
}

.camadaN01 {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.camadaN02 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	overflow-x: hidden;
}
