/* Fonts */

@font-face {
    font-family: 'robotoregular';
    src: url('./css/fonts/fonts/Roboto-Regular-webfont.eot');
    src: url('./css/fonts/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('./css/fonts/fonts/Roboto-Regular-webfont.woff') format('woff'), url('./css/fonts/fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('./css/fonts/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('./css/fonts/fonts/Roboto-Bold-webfont.eot');
    src: url('./css/fonts/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('./css/fonts/fonts/Roboto-Bold-webfont.woff') format('woff'), url('./css/fonts/fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('./css/fonts/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('./css/fonts/fonts/Roboto-Black-webfont.eot');
    src: url('./css/fonts/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./css/fonts/fonts/Roboto-Black-webfont.woff') format('woff'),
         url('./css/fonts/fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('./css/fonts/fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Anton';
    src: url('./css/fonts/fonts/Anton-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* roboto-condensed-regular - latin 
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./css/fonts/fonts/roboto-condensed-v17-latin-regular.eot');
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('./css/fonts/fonts/roboto-condensed-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('./css/fonts/fonts/roboto-condensed-v17-latin-regular.woff2') format('woff2'), 
       url('./css/fonts/fonts/roboto-condensed-v17-latin-regular.woff') format('woff'), 
       url('./css/fonts/fonts/roboto-condensed-v17-latin-regular.ttf') format('truetype'),
       url('./css/fonts/fonts/roboto-condensed-v17-latin-regular.svg#RobotoCondensed') format('svg'); 
}*/


@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);




/********************* Global Styles ******************************/
html,
body {
    width: 100%;
    height: 100%;
    
}

body {
    /*font-family: 'robotocondensed', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif !important;

}

p {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size:20px;
  color:#000000;
  line-height: 1.5em;
  text-align: left;
}


h2, h3, h5{
  font-family: 'robotobold', sans-serif;
  color: #2f3275;
  margin-top:20px;
  margin-bottom:20px
}

h2 {
  font-size: 2.8em;
    line-height: 1.4em;
}

h3 {
  font-size: 2.0em;
    line-height: 1.4em;
}

h4 {
  font-family: 'robotobold', sans-serif;
  font-size: 1.8em;
    line-height: 1.3em;
  color: #333;  
}
h5 {
  font-family: 'robotobold', sans-serif;
  font-size: 1.6em;
    line-height: 1.3em;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
