.returnButton{    
    float: right;
    padding-right: 5px;
}

.main-footer{     
     position: sticky; 
     bottom: 0;
}

.returnButtonSticky{
	opacity: 1;
	z-index: 0;
	padding-top: 92vh;
}


@media (max-height: 500px) {
	.returnButtonSticky{
	padding-top: 85vh;
	}	
}


