
.carousel-control-prev {	
	color: black !important;	
	z-index: 0 !important;
	left: -75px !important;
}

.carousel-control-next{
	color: black !important;	
	z-index: 0 !important;
	right: -75px !important;

}

.carousel-control-next-icon{
	background-image: url("../../img/rightArrow.png") !important;
	cursor: pointer;

}

.carousel-control-prev-icon{
	background-image: url("../../img/leftArrow.png") !important;
	cursor: pointer;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	display: inline-block;
	width: 40px !important;		
	height: 80px !important;
	background: no-repeat 50%/100% 100%;
	color: black !important;
	
}

.zIndex{
	z-index: 0 !important;
}





.fundoSliderTexto{
	height: auto;

}

.fundoSliderTextoUn1{
	height: 330px;
}

.fundoSliderTextoUnT{
	height: 158px;
}

.slider1{
	/*background-image: url('../../img/un2/Mooc3v2-67.png');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #eae0eb;
}



.fundo1{
	background-image: url('../../img/un1/fundo1.png');
	background-size: 300px 300px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}




.carousel-indicators li{
		background-color: black !important;
		width: 50px !important;
		height: 5px !important;
		
		border-bottom: 0px solid transparent !important;

}
