.sumarioUnidade {
	text-align: center;
	background-color: white;

}

.tituloSumario {	
	font-family: 'robotoregular', sans-serif;	
	font-size: 1.8em;
	color: #333333;
	line-height: 32px;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: left;
	font-weight: bold

}

.linkSumario {
	color: black;
	cursor: pointer;
	text-decoration: none !important;

}



.tituloUnidade {	
	font-family: 'robotoregular', sans-serif;	
	font-size: 1.2em;
	color: #333333;
	line-height: 32px;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: left;


}

.divTituloUnidade {	
	background-color: #e1c420;
	text-align: center;
	min-height: 80px;
}


.centerBullets{
	

}

.logoCentralSumario{
	background-image: url("../../img/logoCentral.png");
	background-repeat: no-repeat;
	background-position: 20% 15%;
}