#m5u1b1 #content {
	width: 100%;
	height: 520px;
}

#m5u1b1 .legend {
width:100%;
position: absolute;
bottom: 20px;
left: 40px;
}

#m5u1b1 #content h4 {
font-family:'Dosis', serif;
text-shadow:3px 3px 0 #ddd;
color:#000;
margin-bottom:5px;
}

#m5u1b1 .skills {
float:left;
clear:both;
width:100%;
}

#m5u1b1 .skills ul,
#m5u1b1 .skills li {
display:block;
list-style:none;
margin:0;
padding:0;
}

#m5u1b1 .skills li {
float:left;
clear: both;
padding:0 5px;
height:20px;
line-height:20px;
color:#000;
margin-bottom:1px;
font-size:14px;
font-family:'Dosis', serif;
}

#m5u1b1 .skills .a29 {
background:#EBDEE3;
}

#m5u1b1 .skills .ng {
background:#CAAAB6;
}

#m5u1b1 .skills .em {
background:#AF7F91;
}

#m5u1b1 .skills .ir {
background:#9D6277;
color:#fff;
}

#m5u1b1 .footer {
position:fixed;
bottom:0;
left:0;
width:100%;
background:#2D2D2D;
color:#EAEAEA;
padding:20px 0;
}

#m5u1b1 .footer a {
color:#EAEAEA;
}

#m5u1b1 .footer a:hover {
color:#E4842C;
}

#m5u1b1 .footer .inside {
font-family: 'Cabin Sketch', arial, serif;
font-size:22px;
text-align:center;
}


#m5u1b1 #diagram {
width:600px;
height:600px;
margin: -90px 0 0 0px;
}

#m5u1b1 .get {
display:none;
}


/* ------ anchors
-----------------------------------------------*/

#m5u1b1 a {
text-decoration:none;
color:#333;
}

