#accordion-gestao .table,
#accordion-gestao2 .table,
#redes { font-family: 'Dosis', sans-serif;
}

.barras {
  padding: 20px 20px 0px;
}
.barras h3 {
    font-weight: bold;
    letter-spacing: -0.05em;
    text-shadow:1px 1px #fff;
}
.barras h4 {
    font-weight: bold;
    letter-spacing: -0.05em;
    text-shadow:1px 1px #fff;
}
.barras .progress {
    height: 40px;
    opacity: 0.8;
    border:3px solid #fff;
    box-shadow: 0px 0px 5px #ccc;
}
.barras .progress-bar {
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    text-shadow:1px 1px #000;
    font-weight: bold;
}
.evolucao-direitos-humanos {
    padding: 20px;
}

.vermelho {background: #a5405f;}
.amarelo {background: #c07f2e;}
.azul {background: #1587c9;}
.verde {background: #4c735a;}
.grafite {background: #333;}

.b-vermelho {border-color: #a5405f;}
.b-amarelo {border-color: #c07f2e;}
.b-azul {border-color: #1587c9;}
.b-verde {border-color: #4c735a;}
.b-grafite {border-color: #333;}

#accordion h3 {
    padding: 15px 20px;
    margin: 0 0 20px;
    color: #fff;
    text-align: center;
    border-radius:5px;
    text-shadow: 1px 1px #333;
    cursor: pointer;
}

#accordion > div {padding: 20px;}

#evolucao ul {
    padding: 0;
}

#evolucao li {
    background: none;
    padding: 5px;
    list-style: none;
}
#evolucao li a {
    display: block;
    padding: 10px;
    color: #000;
    min-height:75px;
    border-radius:5px;
    box-shadow: 1px 1px #999;
    text-shadow: 1px 1px #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}
#tabs > div {
    margin-top: 30px;
    margin: 0 1%;
    padding: 0 20px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 2px 2px #eee;
    border-radius: 10px;
}
.lep {font-family: 'Dosis', sans-serif;}
.lep h3 {text-align: center;}
.lep .numero {
    text-align:right;
    width: 40%;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
}
.btn {
    font-family: 'Dosis', sans-serif;
    /* font-weight: 800; */
}
.toggler {

}
.ui-dialog .ui-dialog-content {
    text-shadow:1px 1px #fff;
    margin: 0px 5%;
    padding: 30px;
    box-shadow: 0px 0px 20px #000;
    cursor: pointer;
}
.box-texto {
    background: #e1f2fc !important;
    border-color: #1587c9 !important;
}
.resumo{
    background: #fcf8e3 !important;
    border-color: #faebcc !important;
}

.img-big{
    background: #fcf8e3 !important;
    border-color: #faebcc !important;
}

.ui-dialog-titlebar {display: none;}

.passatexto{
    background: #f1f1f1;
    box-shadow: 0px 0px 10px #999;
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
}
.passatexto p {
    font-size: 18px;
    line-height: 22px;
}
#redes {
    background: #d4e0e7;
    padding: 0px 40px 20px;
    font-weight: 20px;
}

#redes li {
    margin-bottom:10px;
}

#redes li b {cursor: pointer;}

#redes h2 {
    background: #fff;
    float: left;
    margin: -3px 0 0 -10px;
    padding: 10px 15px;
    box-shadow: 2px 2px 2px #000;
}
#redes h2 i {
    font-size: 42px;
    margin-right: 10px;
}
.clique {
    border-radius: 10px;
}

#tabs h3 a,
#tabs li a,
#accordion h3,
#opener,
.clique  {
    box-shadow: 0px 0px 7px #666;
}

img.eleonor {
    padding: 0 !important;
}

img.onu {
    margin: 0px 20px 20px 0px !important;
}

.cor1 {
    background: #007fbb;
}
.cor2 {
    background: #009fd7;
}
.cor3 {
    background: #c1e3f3;
}
