#cabecalho {
 	box-shadow: 0px 0px 4px #ccc;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    padding: 10px 0 5px;
    z-index: 100;
    position: fixed;
    top:0;
    left: 0;
    min-height: 80px;
}

#cabecalho h1 {
    float: left;
    font-size: 18px;
    line-height: 35px;
    margin: 0 0 0 5%;
    text-align: left;
    width: 80%;
    color: #000 !important;
}

#cabecalho .fa.fa-navicon {
    cursor: pointer;
    font-size: 40px;
    margin-right: 25px;
    margin-top: 11px;
   }

#cabecalho h1 small {
    display: block;
    font-size: 100%;
    margin-left: 2.3%;
    font-weight: 600;
}
#cabecalho h1 small span {
    display: none;
}