/**
 * Stylesheet for Calculators 
 * author: Alfonso Cavalieri
 * version: 1.0
 * last_update: 13/09/2019
*/

.card{
    border: 1px solid #D3D3D3;
    padding: 15px;
    border-radius: 6px;
} 

#result {
    display: none;
}

.calc{
    width:75%;
    margin: 0 auto;
}

#single_result {
    display: none;
}

#values_result {
    display: none;
}
